.dream-descroption {
    &__row {
        display: flex;
        align-items: center;
        margin-left: -80px;
        margin-right: -80px;
        &:not(:last-child) {
            margin-bottom: 100px;
        }

        &:nth-child(even) {
            .dream-descroption__col{
                &:nth-child(odd){
                    width: 40%;
                }
                &:nth-child(even){
                    width: 60%;
                }
            }
        }

        &:nth-child(odd) {
            .dream-descroption__col{
                &:nth-child(odd){
                    width: 60%;
                }
                &:nth-child(even){
                    width: 40%;
                }
            }
        }
    }

    &__col {
        padding: 0 80px;
    }

    img {
        border-radius: 30px;
    }



}