<% var data = {
    title: "Dreams List"
  }; %>
  <%= _.template(require('./../includes/header.html').default)(data) %>
  
  
  <main class="page__main _01 page__dreams-list">
    <div class="container">
        <%= _.template(require('./../includes/breadcrumbs.html').default)({
            navItem: 'Главная',
            navItem2: '',
            currentPageName: 'Мечты'
          }) %>
        <div class="card-list">
            <div class="card-list__item">
                <%= _.template(require('./../includes/card.html').default)({
                    status: 'completed',
                    imageSrc: 'img/snow-angel.svg',
                    label: 'Исполнена',
                    title: 'Аня, 15 лет',
                    description: 'Это комбинация веществ Xylitylglucoside - Anhydroxylitol – Xylitol, основная функция которых предотвратить обезвоживание и сохранить естественный защитный барьер.',
                    'showLink': 'show',
                    showBtn: 'show'
                  }) %>
            </div>
            <div class="card-list__item">
                <%= _.template(require('./../includes/card.html').default)({
                    status: 'in-progress',
                    imageSrc: 'img/make-snowman.svg',
                    label: 'В процессе',
                    title: 'Маша, 10 лет',
                    description: 'Это комбинация веществ Xylitylglucoside - Anhydroxylitol – Xylitol, основная функция которых ',
                    'showLink': 'show',
                    showBtn: 'show'
                  }) %>
            </div>
            <div class="card-list__item">
                <%= _.template(require('./../includes/card.html').default)({
                    status: 'not-completed',
                    imageSrc: 'img/boy.svg',
                    label: 'Не исполнена',
                    title: 'Оля, 5 лет',
                    description: 'Это комбинация ',
                    'showLink': 'show',
                    showBtn: 'show'
                  }) %>
            </div>
            <div class="card-list__item">
                <%= _.template(require('./../includes/card.html').default)({
                    status: 'completed',
                    imageSrc: 'img/boy-2.svg',
                    label: 'Исполнена',
                    title: 'Оля, 5 лет',
                    description: 'Это комбинация веществ Xylitylglucoside - Anhydroxylitol – Xylitol, основная функция которых ',
                    'showLink': 'show',
                    showBtn: 'show'
                  }) %>
            </div>
            <div class="card-list__item">
                <%= _.template(require('./../includes/card.html').default)({
                    status: 'completed',
                    imageSrc: 'img/girl.svg',
                    label: 'Исполнена',
                    title: 'Оля, 5 лет',
                    description: 'Это комбинация веществ Xylitylglucoside - Anhydroxylitol – Xylitol, основная функция которых ',
                    'showLink': 'show',
                    showBtn: 'show'
                  }) %>
            </div>
            <div class="card-list__item">
                <%= _.template(require('./../includes/card.html').default)({
                    status: 'in-progress',
                    imageSrc: 'img/girl-2.svg',
                    label: 'В процессе',
                    title: 'Вероника, 7 лет',
                    description: 'Это комбинация веществ Xylitylglucoside - Anhydroxylitol – Xylitol, основная функция которых ',
                    'showLink': 'show',
                    showBtn: 'show'
                  }) %>
            </div>
            <div class="card-list__item">
                <%= _.template(require('./../includes/card.html').default)({
                    status: 'not-completed',
                    imageSrc: 'img/snow-angel.svg',
                    label: 'Не исполнена',
                    title: 'Катя, 10 лет',
                    description: 'Это комбинация веществ основная функция которых ',
                    'showLink': 'show',
                    showBtn: 'show'
                  }) %>
            </div>
        </div>
        <div class="background-section"></div>
    </div>
    
  </main>
  
  <%= _.template(require('./../includes/footer.html').default)(data) %>