<% var data = {
  title: "Dream Details"
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>


<main class="page__main dream-details-page">
  <div class="container">
    <%= _.template(require('./../includes/breadcrumbs.html').default)({
      navItem: 'Главная',
      navItem2: 'Мечты',
      currentPageName: 'Мечтa Ани'
    }) %>

    <%= _.template(require('./../includes/card-horizontal.html').default)({
      imageSrc: 'img/make-snowman.svg',
      title: 'Аня, 15 лет',
      description: 'Это комбинация веществ Xylitylglucoside - Anhydroxylitol – Xylitol, основная функция которых предотвратить обезвоживание и сохранить естественный защитный барьер. Они оказывают своё действие за счет усиления синтеза белков, липидов, составляющих липидную мантию кожи, а также стимуляции продукции гиалуроновой кислоты и других полисахаридов. Кроме того, такой состав помогает уменьшить воспаление и проявления аллергии.      ',
    }) %>

    <div class="dream-descroption">
      <div class="dream-descroption__row">
        <div class="dream-descroption__col">
          <p>Это комбинация веществ Xylitylglucoside - Anhydroxylitol – Xylitol, основная функция которых предотвратить обезвоживание и сохранить естественный защитный барьер. Они оказывают своё действие за счет усиления синтеза белков, липидов, составляющих липидную мантию кожи, а также стимуляции продукции гиалуроновой кислоты и других полисахаридов. Кроме того, такой состав помогает уменьшить воспаление и проявления аллергии.          </p>
        </div>
        <div class="dream-descroption__col">
          <figure>
            <img src="img/boy.jpg" alt="">
          </figure>
        </div>
      </div>
    </div>
  </div>
</main>

<%= _.template(require('./../includes/footer.html').default)(data) %>