<% var data = {
    title: "Index",
    bannerNumber: "_02"
  }; %>
<%= _.template(require('./../includes/header.html').default)(data) %>


<div style="display: none">
    <div id="content">content</div>
</div>



<main class="page__main _01">
    <div class="container">
        <ul style="padding: 100px 50px;">
            <li><a href="/inner.html" target="_blank">Inner</a></li>
        </ul>
        <div style="background-color: #ccc; padding: 20px;">
            <div class="btn">Button</div>
            <div class="btn btn--white">Button</div>
            <div class="btn btn--white-reverse">Button</div>
        </div>

    </div>
</main>

<%= _.template(require('./../includes/footer.html').default)(data) %>
